ENVIRONMENT=local
PROJECT_NAME=telecom-churn-scoring
LOG_LEVEL=INFO

AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=telecom-churn-artifacts-local
LOCAL_DATA_DIR=./data

MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_EXPERIMENT_NAME=telecom-customer-churn
MODEL_REGISTRY_NAME=telecom_churn_lgbm

API_HOST=0.0.0.0
API_PORT=8000
INFERENCE_BATCH_SIZE=256
CHURN_RISK_THRESHOLD=0.65
