# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
env/
venv/
ENV/

# Environment files
.env
.env.local
.env.*.local

# Mlflow & Local Artifacts
mlruns/
mlartifacts/
.evidently/
data/*.csv
data/*.parquet
!data/.gitkeep

# Testing & Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Terraform local state
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
